<?xml version="1.0" encoding="UTF-8"?>
<!--THE STATUS DETERMINE THE INTERNAL LOG LEVEL-->
<Configuration status="WARN">
    <!--DEFINE ONE OR MORE APPENDERS-->
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%date{DEFAULT}}{yellow}
      %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green}
      %message\n"/>
        </Console>
        <File name="JSONLogfileAppender" fileName="target/log/json/blog-json.json">
            <JSONLayout compact="true" eventEol="true"/>
            <BurstFilter level="INFO" rate="2" maxBurst="10"/>
        </File>
        <File name="LogfileAppender" fileName="target/log/json/blog.log" immediateFlush="true">
            <PatternLayout pattern="%date-%-5level-%message\n"/>
        </File>
        <Async name="AsyncAppender" bufferSize="20">
            <AppenderRef ref="JSONLogfileAppender"/>
        </Async>
        <!--A ROLLING LOG FILE ,AFTER A CONFIGURED FILE SIZE ,THE LOG FILE GETS COMPRESSED AND ROTATED-->
        <RollingFile name="JSON_RollingFile" fileName="target/log/json/blog-json-rolling.json"
                     filePattern="target/log/archive/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <JSONLayout compact="true" eventEol="true"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <!--USE THE APPENDERS DEFINED ABOVE-->
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
        <Logger name="ASYNC_JSON_FILE_APPENDER" level="INFO" additivity="false">
            <AppenderRef ref="AsyncAppender"/>
            <AppenderRef ref="JSON_RollingFile"/>
        </Logger>
        <Logger name="LOG_FILE_APPENDER" level="INFO" additivity="false">
            <AppenderRef ref="LogfileAppender"/>
            <AppenderRef ref="AsyncAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
    </Loggers>
</Configuration>